#container {
    padding: 0 60px;
  }
  
  .VueCarousel {
    width: 70vw;
    margin: 0 auto;
  }
  
  .VueCarousel-slide {
    position: relative;
    padding-top: 100px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    min-height: 80px;
  }
  
  .label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .VueCarousel-navigation-button,
  .VueCarousel-navigation-next,
  .VueCarousel-navigation-prev {
    height: 50% !important;
  }
  
  .VueCarousel-navigation-button,
  .VueCarousel-navigation-next:hover,
  .VueCarousel-navigation-prev:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .content:hover {
    background: rgba(0, 0, 0, 0.08);
  }
  
  img {
    width: 100%;
  }
  
  .items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-weight: normal;
    padding: 10px;
    color: black;
    font-size: 16px;
  }
  
  .img:hover {
    width: 120%;
    transition: 1s;
  }
  
  .item-price {
    font-weight: bold;
    font-size: 14px;
  }
  
  .item-description {
    color: gray;
    font-size: 14px;
  }
  