/* Everyone */

.contentBox{
    width: 100%;
    overflow: hidden;
    padding: 0px;
}

.contentBox input{
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid black;
    min-width: 33%;
    padding: 12px;
}

.contentBox h1{
    width: 100%;
    margin: 0px;
    padding: 18px;
    font-size: 20px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

/* media */

@media screen and (max-width: 1070px){

    #ContainerProfile{
        width: 800px;
    }

}

@media screen and (max-width: 800px){

    #ContainerProfile{
        width: 530px;
    }

}

@media screen and (max-width: 800px){

    #ContainerProfile{
        width: 530px;
    }

    #Infos{
        width: 60px;
        min-width: 60px;
    }

    .disapearMobile{
        display: none;
    }

}

@media screen and (max-width: 799px){

    #ContainerInfos{
        width: 96%;
    }

    #Infos .itemInfo{
        margin-right: 5%;
        border: 0px;
    }

    #ContainerProfile{
        width: 380px;
    }

    .contentBox{
        width: 300px;
    }

    .itemAdress{
        justify-content: space-between;
        width: 100%;
    }

    .itemAddAddress{
        width: 100%;
        margin: 2% 0%;
    }

    .itemAddAddress button{
        width: 100%;
    }

    .subContainerRegister{
        padding: 20px 0px;
    }

    .itemSubContainerRegister{
        margin-bottom: 10%;
    }

    .itemPreference{
        margin: 3%;
        width: 100%;
    }

    .paymentButtons button{
        width: 100%;
    }

}