#header {
    height: 320px;
    background-image: url('../../assets/bg.png');
    background-size: cover;
    background-position: top;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  
  #header h1 {
    font-weight: bold;
  }
  
  #header span {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  /* ^ modelo pra componente */
  
  .optionsHeader {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
    justify-content: space-between;
    display: flex;
  }
  .optionsHeader span {
    cursor: pointer;
  }
  
  .options {
    display: flex;
  }
  
  .options div {
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .firstOptionHeader {
    padding-left: 0px !important;
  }
  
  .lastOptions {
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  #ContainerCatalog {
    max-width: 1250px;
    margin: 50px auto;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
  }
  
  .productBoxItem {
    width: 270px;
    height: 370px;
    flex: 1 1 270px;
    margin: 1%;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  
  .productBoxItem span {
    padding: 12px;
  }
  
  .btnSeeMore {
    max-width: 1250px;
    margin: 50px auto;
    margin-bottom: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .btnSeeMore button {
    background-color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    border: 0px;
    padding: 12px;
    width: 250px;
    margin: 0px;
  }