.container{
    width: 400px;
    height: 400px;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 6px 20px #00000040, 0 2px 2px #00000038;
    cursor: pointer;
    transition: linear .2s;
}

.container:hover {
    box-shadow: 0 8px 22px #00000050, 0 4px 4px #00000048;   
}

.card {
    width: 100%;
    height: 100%;
    background: #00000048;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background: #000000aa;
}

.title {
    opacity: 0;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    transition: linear .2s;
}

.card:hover .title {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .card {
        background: #000000aa;
    }

    .title {
        opacity: 1;
    }

    .container {
        width: 90vw;
        height: 30vh;
    }
}