/* Material */
.md-steppers /deep/ .md-steppers-navigation {
  box-shadow: none;
}
.md-steppers.md-theme-default
  /deep/
  .md-stepper-header.md-active
  .md-stepper-number,
.md-steppers.md-theme-default .md-stepper-header.md-done .md-stepper-number {
  background-color: black;
  border-radius: 0px;
}
.md-steppers.md-horizontal.md-alternative .md-stepper-header .md-stepper-icon,
.md-steppers.md-horizontal.md-alternative
  /deep/
  .md-stepper-header
  .md-stepper-number {
  border-radius: 0px;
}
.md-steppers.md-theme-default
  .md-stepper-header.md-active
  /deep/
  .md-stepper-number,
  /deep/
  .md-steppers.md-theme-default
  .md-stepper-header.md-done
  .md-stepper-number {
  background-color: black;
}
.md-steppers.md-theme-default .md-stepper-number {
  border-radius: 1px;
}
.md-steppers.md-theme-default {
  width: 80%;
  min-height: 500px;
}
/* **fim material** */

#ContainerCart {
  padding: 50px 0px;
  width: 100%;
  min-height: 1060px;
  min-width: 100%;
  justify-content: center;
  display: flex;
}
/* entrega */

.subContainerLocation {
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
}

.inpAdress {
  width: 33%;
  margin: 2% 0;
  flex-direction: column;
  display: flex;
}

.addNewLocation input {
  margin-top: 0px;
  margin-left: 0px;
  border: 1px solid #00000034;
  background-color: transparent;
  text-transform: capitalize;
  padding: 12px;
}

.addNewLocation {
  justify-content: space-between;
  display: flex;
}

.btnBlack {
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: black;
}

.subContainerFrete{
  display: flex;
}

.itemDeliveryMet{
  width: 200px;
  border: 1px solid grey;
  margin: 0.5%;
  padding: 8px;
}

@media screen and (max-width: 1024px) {
  #ContainerCart {
    flex-wrap: wrap;
  }
  .subContainerLocation{
    height: auto;
    flex-wrap: wrap;
    display: flex;
  }
  .box{
    width: 100%;
  }
}

/* xxxxxx */
.itemAdress {
  width: 250px;
  height: 125px;
  margin: 1% 0px;
  margin-right: 1%;
  border: 1px solid rgb(235, 235, 235);
  display: flex;
}

.editarItemAddress {
  padding: 15px;
  background-color: rgb(197, 197, 197);
  justify-content: center;
  align-items: center;
  display: flex;
}

.itemAddAddress input {
  padding: 0px;
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  text-transform: capitalize;
}

.itemAddAddress button {
  width: 150px;
  background-color: transparent;
  border: 1px solid black;
  font-weight: bold;
  height: 40px;
  text-transform: uppercase;
}

.itemAddAddress button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.editarItemAddress:hover {
  background-color: black;
  color: white;
}

.infoItemAddress {
  width: 150px;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.deleteItemAddress {
  padding: 15px;
}

.deleteItemAddress span:hover {
  background-color: rgb(253, 105, 105);
  color: white;
}